*{
	padding: 0;
	margin:0;
	font-family:'Abiriddhi Creations',about us;
	box-sizing: border-box;
}	
.about{
	width: 100%;
	padding: 78px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 420px;
}
.about-mango garden{
	width: 550px;
}